@import url( 'https://fonts.googleapis.com/css?family=Source+Sans+Pro' );

body {
  font-family:  'Source Sans Pro', sans-serif;
  font-size:    16px;
}

#wrapper {
  position: relative;
  margin: 5px auto;
  border: 1px solid black;
  width: 50%;
  padding: 2px;
}

#original-text {
  box-sizing: border-box;
  width: 100%;
  display: block;
}

#send-text {
  display: block;
  margin: 2px 0 2px auto;
}

.label {
  font-weight: bold;
}

#output {
  border: 1px solid black;
  min-height: 1.5em;
  overflow-x: hidden;
  overflow-y: auto;
  word-wrap: break-word;
}